@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
a{
    color:black !important
}
.h2{
    font-family: 'Grand Hotel', cursive !important;

}
.brand-logo{
    font-family: 'Grand Hotel', cursive;
    color: white !important;
}
.auth-card{
   max-width: 500px;
    margin: 10px auto;
    text-align: center;
    padding: 20px;
}
.auth-card1{
  max-width: 500px;
   margin: 10px auto;
   padding: 20px;
}

.mycard{
    margin-top: 30px;
}
.input-field input[type=email  ]:focus {
    border-bottom: 1px solid rgba(8, 93, 252) !important ;
    box-shadow: 0 1px 0 0 rgba(8, 93, 252) !important;
  }
  .input-field input[ type=password]:focus {
    border-bottom: 1px solid rgba(8, 93, 252) !important ;
    box-shadow: 0 1px 0 0 rgba(8, 93, 252) !important;
  }
  .input-field input[ type=text]:focus {
    border-bottom: 1px solid rgba(8, 93, 252) !important ;
    box-shadow: 0 1px 0 0 rgba(8, 93, 252) !important;
  }
  .gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }
  .item{
    width: 30%;
    margin: 10px 0px;
  }
  .home-card{
max-height: max-content;
margin: 26px auto;
    max-width: 500px;
  }
  .auth-card2{
    max-width: 500px;
     margin: 10px auto;
     padding: 20px;
  }


  


  #toast-container{
    top:30px !important;
    right:20px !important;
    left:auto !important;
  }
  .material-icons:hover{
    cursor: pointer;
  }
  .mini-profile
  {
    height: 25px;
    width: 25px;
    margin-bottom: -5px;
    border-radius: 60%;
  }
  .nav-color
  {
    color: white !important;
  }
  .collection-item{
    color: black !important;
    width:100%,
    
  }
  
  .form-class{
    max-width: 450px;
    margin:auto;
  }
  .text-primary{
    color: blue;
  }
  .card{
    max-width: 500px;
    margin: auto;
    margin-top: 10px;
  }